In [2]:
import pandas as pd

Source for how to import data:  
https://www.kaggle.com/shashankasubrahmanya/preprocessing-cornell-movie-dialogue-corpus

In [6]:
movie_lines_features = ["LineID", "Character", "Movie", "Name", "Line"]

In [20]:
movie_lines = pd.read_csv("data/movie_lines.txt", sep = "\+\+\+\$\+\+\+", engine = "python", encoding='ISO-8859-1', index_col = False, names = movie_lines_features)

In [21]:
movie_lines.head()

   LineID Character Movie       Name           Line
0  L1045        u0    m0     BIANCA    They do not!
1  L1044        u2    m0    CAMERON     They do to!
2   L985        u0    m0     BIANCA      I hope so.
3   L984        u2    m0    CAMERON       She okay?
4   L925        u0    m0     BIANCA       Let's go.

In [22]:
# Strip the space from "LineID" for further usage and change the datatype of "Line"
movie_lines["LineID"] = movie_lines["LineID"].apply(str.strip)

In [23]:
movie_lines.head()

  LineID Character Movie       Name           Line
0  L1045       u0    m0     BIANCA    They do not!
1  L1044       u2    m0    CAMERON     They do to!
2   L985       u0    m0     BIANCA      I hope so.
3   L984       u2    m0    CAMERON       She okay?
4   L925       u0    m0     BIANCA       Let's go.